
/build/
.gradle
/app/
/.idea/
/im/build/
/im/im.iml
/presentation/presentation.iml
/sdk/sdk.iml
/tlslibrary/tlslibrary.iml
/ui/proguard-rules.pro
/gsyVideoPlayer/
/ui/ui.iml
!/im/im-release.apk
/CordovaLib/build/
/im/im-release.apk
/Library/Library.iml
/ColdSleep/ColdSleep.iml
/MaterialSearchView/MaterialSearchView.iml
